*{
    box-sizing: border-box;
}
body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1400px;
    margin:auto;
    padding: 0px 15px
}
.logo{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    display: block;
    max-width: 84px;
}
.row-header{
     display: grid;
     grid-template-columns: 1fr 3fr 1fr ;
     grid-gap: 30px;
     padding-bottom: 3.3rem;
     padding: .7rem 1rem;
}
.navbar-toggler{
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
/* delete side Nav */
 /* .deletSide a{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
 }
.sideNav{
    height: 100%;
    width: 0px;
    position: fixed;
    /* top: 10px; */
    /* right: 10px; */
    /* background-color: #111; */
    /* transition: 0.5s; */
    /* overflow-x: hidden; */
/* } */ 
.menu ul{
    /* margin:  0px; */
    list-style: none;
    padding: 0px;
}
.list-menu{
    display: inline-block;
    padding: 10px;
}
a{
    text-decoration: none;
}
.list-menu a{
    display: block;
}
.list-menu a:hover{
    color: white
}

/* #main{
    text-align: center;
} */



@media(min-width:768px){

    /* #main{
        display: none;
    } */
    /* #mySidenav ul {
        display: inline-block;
    } */
    /* .sideNav{
        overflow: visible;

    } */
    /* .deletSide{
        display: none;
    } */
    /* .deletSide a{ */
        /* position: absolute; */
        /* top: 0;
        right: 25px;
        font-size: 36px; */
        /* margin-right: 150px; */
     /* } */
    /* .sideNav{ */
        /* height: 100%; */
        /* width: 200px; */
        
        /* position: fixed; */
        /* top: 10px; */
        /* right: 10px; */
        /* background-color: #111;
        transition: 0.5s;
        overflow-x: hidden; */
    /* } */
 
    /* .list-menu{
        display: inline-block;
        padding: 10px;
    }
 
    .list-menu a{
        display: block;
    }
    .list-menu a:hover{
        color: black
    }
     */
}
/* section banner jumbotron text-center */

.banner {
    background: url(./images/Rectangle.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 6rem 15px;
    margin: 0;
    border-radius: 0;
    text-align: center;
}
.banner-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #fff;
    margin-bottom: 1.6rem;
}
.banner-desc{
    color: #fff;
    font-size: 18px;
    line-height: 168%;
    margin-bottom: 3rem;
    padding: 0;

}
.banner .all-job{
    color: #fff;
    font-size: 18px;
    line-height: 168%;
    padding: 13px 27px;
    background: #4DCEFD;
    border-radius: 100px;
 }
 /* enviroment */
.enviroment{
    background: #EEF2F6;
    padding: 3.5rem 0 0rem 0;
}
.evironment-hearding{
    margin-bottom: 3rem;
}
.evironment-hearding .section-heading{
    color: #3E3E94;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.enviroment-item {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 3.25rem 0 2.4rem 0;
    height: 100%;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center center;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
}
.enviroment-item:hover{
    background-color: rgb(34, 34, 94);
    color: #fff
}
.cart-icon{
    margin-bottom: 2rem;
}
.enviroment{
   
    padding: 3.5rem 0 0rem 0;
}
.enviroment-item h5{
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 1.3rem;
}
.enviroment-item p{
    padding: 0 2rem;
    line-height: 26px;
}

/* exprience */
.exprience{
    background: url(./images/Rectangle\ 4.1.png) no-repeat;
    background-size: cover;
    padding: 3.5rem 0 3.3rem 0;
}

.evironment-hearding h2{
    color: #fff;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
/* enviroment body */



/* exprience */
.exprience-row-row {
    display: grid;
    text-align: center;
}
.image-fluid{
    max-width: 100%;
    max-height: auto;
}
.image-colums{
     margin-bottom: 1rem;
 }
.row-column-hide{
    display: none;
}
/* meeting */
.meeting {
    background: url(./images/Rectangle\ 4.png) no-repeat;
    background-size: cover;
    padding: 3.5rem 0 3.3rem 0;
}
/* .row-meeting{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
} */
/* .itemMeting{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
} */
.item-meeting{
    padding: 0px 10px;
    text-align: center;
}
.meeting-heading {
    margin-bottom: 2rem;
}
.meeting-heading h2{
    font-size: 34px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: white;
}
.leader__name{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}
.leader__position{
    font-size: 18px;
    line-height: 21px;
    display: block;
    opacity: 0.4;
    margin: 0 0 13px 0;
    color: white
}
.leader__desc{
    font-size: 16px;
    line-height: 150%;
    color: #72A4D1;
}
/* blog */
.blog-enveroment{
    text-align: center;
}
.avatar-meeting{
    max-width: 40px;
    display: inline-block;
}
.employee p span:first-child{
    color: white
}
.employee p span:last-child{
    color: white;
    opacity: 0.4;
}
.avatar-meeting img{
    display: inline-block;
}
.blog-enveroment{
    padding: 15 0px;
}
 
.paragraph-ev p{
    padding: 15px;
    line-height: 41px;
    font-size: 24px;
    color: white;
}
/* job ==========================================>>>> */
.job{
    margin-bottom: 3.3rem;
}
.title-job{
    padding: 0px 15px 2.7rem 15px;
    font-weight: bold;
    margin: 0;
    padding: 0;
 
}
.title-job h2{
    text-align: center;
    color: #3E3E94;
    font-size: 34px;
}
.item-job{
    text-align: center;
    padding: 2rem 0px;
    border-radius: 15px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);;
}
.image-job{
    max-width: 60px;
    margin: auto;
}
.item-job a{
    background: #4DCEFD;
    border-radius: 100px;
    border-color: #4DCEFD;
    padding: 9px 25px;
    display: block;
    font-size: 14px;
    max-width: 161px;
    margin:auto;
    margin-bottom: 2rem;
    /* font-size: 9px; */
    color: white;
}
.item-job a:hover{
    background-color: #0E0E39;
    color: #fff;
}
/* .item-job a{
    color: wheat;
} */
/*=======================================recruitment ================================>>>>  */
.recruitment{
    background-color:  #fff;
    padding-bottom: 3.3rem;
    background: url(images/Rectangle\ 2\ -\ Copy\ -\ Copy.png) no-repeat top center ;
    /* background-size: contain; */
    /* background-size: cover; */
}
/* .recruitment:hover{
} */
.recruitment-heading{
    text-align: center;
    padding: 4.6rem 0 3.1rem 0;
}
.recruitment-heading h2{
    text-align: center;
    margin: 0px 0px 1.1rem 0px;
    color: white;
    font-size: 2.2rem;
}
.recruitment-heading p{
    color: white;
    margin: 0px 0px 16px 0px;
}
.recruitment-form{
    margin: 0;
    padding: 3.6rem 4rem 3rem 4rem;
    background: #EEF2F6;
    border-radius: 10px;
    background: #EEF2F6;
    border-radius: 10px;
    padding: 3.6rem 15px 3rem 15px;
    margin-left: -17px;
    margin-right: -17px;
    /* margin: 0;
    padding: 3.6rem 4rem 3rem 4rem;
    background: #EEF2F6;
    border-radius: 10px; */
}
/* .row-requritment{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
} */
.row-requritment ul li{
    margin-bottom: 1.3rem;
}
.row-requritment ul{
    padding:0px;
}
.row-requritment ul li input{
    border-radius: 8px;
    border: 1px solid #BFBFCC;
    padding: 15px 10px;
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
}
/* ===>upload-cv */
.upload-cv{
    padding: 15px 40px;
}
.upload-cv h3{
    font-size: 18px;
    color: #333333;
    font-family: 'Noto Sans';
}
 
::-webkit-file-upload-button {
    background-color: white;
    padding: 9px 30px;
    border-radius: 100px;
    font-size: 18px;
    font-weight: normal;
    color: #5F5F70;
    margin: 15px 0;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(87, 87, 87, 0.2);
    outline: none;
}
  
.box-submit input{
    background: #4DCEFD;
    border-radius: 100px;
    border-color: #4DCEFD;
    padding: 9px 25px;
    color: #fff;
    font-size: 16px;
}
/* ====================================foooter=====> */
footer{
    background: #0E0E39;
    color: #fff;
    padding: 4rem 0;
}
.logo-footer{
    padding: 0px 15px;
    margin-bottom: 3.6rem;
}
 

.main-item__show h2{
    margin-bottom: 1rem;
}
.listing{
    padding: 0px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.listing li{
    list-style: none;
    padding: 10px 0;
}
.listing li a{
    font-size: 18px;
    line-height: 160%;
    color: #fff;
}
/* ==============================ihr-news===============>>> */
.ihr-new h2{
    text-align: center;
    margin: 0px 0px 1.1rem 0px;
    color: white;
    font-size: 2.2rem;
}
.ite-new{
    margin-bottom: 1.3rem;
    margin-top: 45px;
}
.ite-new h5{
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 160%;
  
}
.ite-new a{
  color: #4DCEFD;
}
.ite-new h5:hover{
    text-decoration: underline;
}
/* =====================================second footer */
.second{
    border-top: 1px solid #ccc;
}

.row-left ul {
    padding: 0px;
}
.row-left ul li{
    padding: 5px 0;

}
.row-left ul li a{
    color: #4DCEFD;
    font-family: 'Noto Sans';
}
/* ===================================>>socail media=========>> */
.social-media{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.social-media a{
    display: block;
    background: #090A26;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    color: #2D7DF6;
    text-decoration: none;
    font-size: 18px;
}
.social-media a i{
    color: white;
    font-size: 1.33333em;
    line-height: .75em;
    display: block;
    text-align: center;
}
.social-media a span{
    display: none;
}
/*  */
@media(min-width:576px){
    /* section banner */
    .container{
       padding: 0px 15px
    }
}
@media(min-width:768px){
       /* section banner */
    .container{
        max-width: 960px;
    }

    /* enviroment */
    .row-body-enviroment {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }
    .enviroment{
        padding: 6.3rem 0 7rem 0;
      
    }
    /* exprience row */
    .exprience-row-row{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }
    .row-column-hide{
        display: block;

    }
    /* metting */
    .row-meeting{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    .itemMeting{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2px;
    }
    .blog-enveroment{
        padding: 150px 0px;
    }
    /* =========row job ==== */
    .row-job{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap:60px;
    }
    .recruitment{
        background-size: contain;
    }
    .row-requritment{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .recruitment-form{
        margin: 0px -15px;
        padding: 3.6rem 4rem 3rem 4rem;
        background: #EEF2F6;
        border-radius: 10px;
    }
    /* row footer on */
    .row-footer-one{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0px 10px;
    }
    /* row-footer-second */
    .row-second{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
    .social-media a span{
        display: inline;
    }
    .social-media a i{
        display: inline;
        text-align: left;
    }
}
@media(min-width:992px){
    .container{
        max-width: 1140px;
    }
}